body {

	background-color: #000000;

}

p {

	color: #FFFFFF;
	font-family: Courier; 
	font-size: 32px;

}

#cursor{
  opacity: 1;
  -webkit-animation: blink 2.0s infinite;
}

@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
